
.flatpickr-calendar {
	margin-top: 3px !important;
  border: 1px solid #66afe9 !important;
	&.arrowTop:before {
    border-bottom-color: #66afe9 !important;
	}

	@media screen and (min-width: 992px) {
    font-size: 1.04em !important;
    max-width: 185px !important;
    min-width: 150px !important;
		.flatpickr-day {
	    width: 26px;
	    height: 26px;
	    line-height: 26px;
		}

		.flatpickr-am-pm, 
		.flatpickr-time input, 
		.flatpickr-time-separator {
	    height: 30px;
	    line-height: 31px;
  	}
	}
	.flatpickr-day.selected, 
	.flatpickr-day.selected:focus, 
	.flatpickr-day.selected:hover {
    background: #8cc152;
    border-color: #8cc152;
	}
}
