.navbar-travox {
	max-height: 95px;
}
ul.nav {

	&.navbar-top {
		margin-top: -1px;
		>li {

		 	> a,
		 	&.active>a {
		 		color:#333;
			  padding: 4px 24px 8px 24px;
			  border-radius: 0px 0px 8px 8px;
			  text-transform: uppercase;
			  font-size: 12px;
			  font-weight: bold;
		    transition: all .1s ease-in-out;
		    -webkit-transition: all .1s ease-in-out;

			  &:hover {
			  	background-color: #e8e8e8;

			  }
			}
			&.active>a {
			  color: #FFF !important;
		  	background-color: #78bb34 !important;
			}
		}
	}

	&.navbar-middle {
		max-height: 70px;
    padding-top: 42px;
    text-align: right;
 		>li {
 			display: inline-block;
	 		&.notification-item {
				position: relative;
	 			&.inbox {
					ul[role="menu"] {
						&.dropdown-menu {
					    width: 360px;
					    max-width: 360px;
					    margin-left: -160px;
						}
					}
	 			}
	 			&.general {
					ul[role="menu"] {
						&.dropdown-menu {
							width: 280px;
							max-width: 280px;
    					margin-left: -124px;
						}
					}
	 			}
				> .open {
					> a.dropdown-toggle {
						opacity: 1;
						box-shadow: none;
						background-color: transparent;
						> span.circle {
					    border-radius: 50%;
					    width: 5px;
					    height: 5px;
					    position: absolute;
							top: 18px;
							left: 10px;
					    background-color: #434A54;
						}
						> span.hide {
							+ span.circle {
								left: 14px;

							}
						}
					} 
					ul[role="menu"] {
						&.dropdown-menu {
							margin-top: 9px;
						}
					}

					&:hover,
					&:focus {
						box-shadow: none;
					}
				} 
	 			a.dropdown-toggle {
	 				padding: 5px;
					opacity: 0.8;
					&:hover {
						opacity: 1;
					}
	 				> i.fa {
				    font-size: 1.4rem;
				    color: #434A54;
	 				}
			    > span.count {
				    position: absolute;
				    top: -7px;
				    left: 58%;
				    padding: 0px 5px;
				    border-radius: 30px;
				    line-height: 16px;
				    text-align: center;
				    font-size: 9px;
				    border-width: 2px;
				    border-style: solid;
				    color: #fff;
				    background: #E60404 !important;
				    border-color: #fff;
				    &.hide {
				    	display: none;
				    }
			    }
	 			}
	 		}
	 		&.logged-user {
 				padding-left: 16px;
 			}
 		}
  }

	&.navbar-bottom {
 		li {
		 	> a,
		 	&.active>a {
		 		cursor: pointer;
		    padding: 4px 18px !important;
		    font-size: 11px;
		    font-weight: bold;
		    color: #545454;
		    border-left: #eeeeee solid 1px;
		    transition: all .15s ease-in-out;
		    -webkit-transition: all .15s ease-in-out;

			  &:hover {
			  	background-color: #e8e8e8;
			  }
			  &:focus {
		    	border-left: #eeeeee solid 1px !important;
			  }

			}

		  &:first-child > a {
		  	border-left:none !important;
		  }

			&.active>a {
			  color: #FFF !important;
		  	background-color: #78bb34 !important;
			}
		}

		.dropdown-menu {    
	 		li {
			 	> a,
		 		&.active>a {
		    	padding: 5px 18px !important;
			 		> i.fa {
						margin-right: 2px;
			    	width: 15px;
    			}
    		}
    	}
  	}

	}
}