.modal, .modal-backdrop {
  transition: opacity .3s ease;
}
.modal-dialog {
	transition: all .3s ease;
}

.dialog-enter {
  opacity: 0 !important;
}
.dialog-leave-active {
  opacity: 0 !important;
}
.dialog-enter .modal-dialog,
.dialog-leave-active .modal-dialog {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}